.idea

# Non-essential files inside vendored dependencies
vendor/**/.git
vendor/**/.github
vendor/**/tests
vendor/**/test
vendor/**/Tests
vendor/**/docs
vendor/**/doc
vendor/**/samples
vendor/**/examples
vendor/**/example
vendor/**/dev-tools
vendor/**/maintenance
vendor/**/hack
vendor/**/vendor-bin
vendor/**/.editorconfig
vendor/**/.gitattributes
vendor/**/.gitignore
vendor/**/*.md
!vendor/**/LICENSE*.md
vendor/**/CHANGELOG*
vendor/**/CONTRIBUTING*
vendor/**/.travis.yml
vendor/**/.php-cs-fixer*.php
vendor/**/.php_cs*
vendor/**/.scrutinizer.yml
vendor/**/phpspec*.yml
vendor/**/phpspec*.yml.dist
vendor/**/phpunit.xml*
vendor/**/phpstan*.neon
vendor/**/phpstan*.neon.dist
vendor/**/.rmt.yml
vendor/**/Makefile
vendor/composer/tmp-*
